.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}

.app_header > form {
  width: 60%;
}

.task_input {
  font-size: 20px;
  font-weight: 500;
  background-color: #f9f9f9;
  columns: #000;
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 15px;
  width: 100%;
}

.task_input::placeholder{
    color: gray;
}

.task_form_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.task_status {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  padding: 0px 5px;
}

.task_submit {
  font-size: 16px;
  font-weight: 500;
  background-color: blue;
  color: white;
  border-radius: 5px;
  height: 40px;
  padding: 3px 13px;
  border: none;
  cursor: none;
  margin-left: 10px;
}
